In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df= pd.read_csv('Iris.csv')
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [4]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [5]:
SepalLength=df['SepalLengthCm'].values
SepalLength[0]

5.1

In [6]:
SepalWidth=df['SepalWidthCm'].values
SepalWidth[0]

3.5

In [7]:
PetalLength=df['PetalLengthCm'].values
PetalLength[0]

1.4

In [8]:
PetalWidth=df['PetalWidthCm'].values
PetalWidth[0]

0.2

In [9]:
SepalLength_mean=np.mean(SepalLength) #finding mean
print(SepalLength_mean)

5.843333333333334

In [10]:
SepalWidth_mean=np.mean(SepalWidth) #finding mean
print(SepalWidth_mean)

3.0540000000000003

In [11]:
PetalLength_mean=np.mean(PetalLength) #finding mean
print(PetalLength_mean)

3.758666666666666

In [12]:
PetalWidth_mean=np.mean(PetalWidth) #finding mean
print(PetalWidth_mean)

1.1986666666666668

In [13]:
SepalLength_median=np.median(SepalLength) #finding MEDIAN
print(SepalLength_median)

5.8

In [14]:
SepalWidth_median=np.median(SepalWidth) #finding MEDIAN
print(SepalWidth_median)

3.0

In [15]:
PetalLength_median=np.median(PetalLength) #finding MEDIAN
print(PetalLength_median)

4.35

In [16]:
PetalWidth_median=np.median(PetalWidth) #finding MEDIAN
print(PetalWidth_median)

1.3

In [17]:
#FINDING STANDARDVARIANCE
SepalLength_standardvariance=np.std(SepalLength) 
print(SepalLength_standardvariance)
#FINDING STANDARDVARIANCE
SepalWidth_standardvariance=np.std(SepalWidth) 
print(SepalWidth_standardvariance)
#FINDING STANDARDVARIANCE
PetalLength_standardvariance=np.std(PetalLength) 
print(PetalLength_standardvariance)
#FINDING STANDARDVARIANCE
PetalWidth_standardvariance=np.std(PetalWidth) 
print(PetalWidth_standardvariance)

0.8253012917851409
0.4321465800705435
1.7585291834055212
0.7606126185881716

In [18]:
#FINDING variance
SepalLength_variance=np.var(SepalLength) 
print(SepalLength_variance)
#FINDING variance
SepalWidth_variance=np.var(SepalWidth) 
print(SepalWidth_variance)
#FINDING variance
PetalLength_variance=np.var(PetalLength) 
print(PetalLength_variance)
#FINDING variance
PetalWidth_variance=np.var(PetalWidth) 
print(PetalWidth_variance)

0.6811222222222223
0.18675066666666668
3.092424888888889
0.5785315555555555

In [19]:
df.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

In [20]:
y=df[["Species"]]
print(y.head(150))

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 1 columns]

In [21]:
x=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
print(x.head(150))

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [22]:
import pandas as pd

In [23]:
import sklearn

In [36]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.30)

In [37]:
print(train_x,train_y)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
101            5.8           2.7            5.1           1.9
44             5.1           3.8            1.9           0.4
63             6.1           2.9            4.7           1.4
18             5.7           3.8            1.7           0.3
115            6.4           3.2            5.3           2.3
..             ...           ...            ...           ...
138            6.0           3.0            4.8           1.8
14             5.8           4.0            1.2           0.2
36             5.5           3.5            1.3           0.2
109            7.2           3.6            6.1           2.5
139            6.9           3.1            5.4           2.1

[105 rows x 4 columns]              Species
101   Iris-virginica
44       Iris-setosa
63   Iris-versicolor
18       Iris-setosa
115   Iris-virginica
..               ...
138   Iris-virginica
14       Iris-setosa
36       Iris-setosa
109   Iris-virginica
139   Iris-virginica

[105 rows x 1 columns]

In [38]:
print(test_x,test_y)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
64             5.6           2.9            3.6           1.3
4              5.0           3.6            1.4           0.2
17             5.1           3.5            1.4           0.3
146            6.3           2.5            5.0           1.9
131            7.9           3.8            6.4           2.0
74             6.4           2.9            4.3           1.3
29             4.7           3.2            1.6           0.2
99             5.7           2.8            4.1           1.3
90             5.5           2.6            4.4           1.2
82             5.8           2.7            3.9           1.2
103            6.3           2.9            5.6           1.8
96             5.7           2.9            4.2           1.3
110            6.5           3.2            5.1           2.0
120            6.9           3.2            5.7           2.3
7              5.0           3.4            1.5           0.2
116            6.5           3.0            5.5           1.8
93             5.0           2.3            3.3           1.0
95             5.7           3.0            4.2           1.2
45             4.8           3.0            1.4           0.3
5              5.4           3.9            1.7           0.4
141            6.9           3.1            5.1           2.3
71             6.1           2.8            4.0           1.3
75             6.6           3.0            4.4           1.4
72             6.3           2.5            4.9           1.5
41             4.5           2.3            1.3           0.3
113            5.7           2.5            5.0           2.0
16             5.4           3.9            1.3           0.4
117            7.7           3.8            6.7           2.2
133            6.3           2.8            5.1           1.5
66             5.6           3.0            4.5           1.5
86             6.7           3.1            4.7           1.5
67             5.8           2.7            4.1           1.0
54             6.5           2.8            4.6           1.5
83             6.0           2.7            5.1           1.6
57             4.9           2.4            3.3           1.0
140            6.7           3.1            5.6           2.4
143            6.8           3.2            5.9           2.3
50             7.0           3.2            4.7           1.4
89             5.5           2.5            4.0           1.3
147            6.5           3.0            5.2           2.0
100            6.3           3.3            6.0           2.5
23             5.1           3.3            1.7           0.5
92             5.8           2.6            4.0           1.2
123            6.3           2.7            4.9           1.8
122            7.7           2.8            6.7           2.0              Species
64   Iris-versicolor
4        Iris-setosa
17       Iris-setosa
146   Iris-virginica
131   Iris-virginica
74   Iris-versicolor
29       Iris-setosa
99   Iris-versicolor
90   Iris-versicolor
82   Iris-versicolor
103   Iris-virginica
96   Iris-versicolor
110   Iris-virginica
120   Iris-virginica
7        Iris-setosa
116   Iris-virginica
93   Iris-versicolor
95   Iris-versicolor
45       Iris-setosa
5        Iris-setosa
141   Iris-virginica
71   Iris-versicolor
75   Iris-versicolor
72   Iris-versicolor
41       Iris-setosa
113   Iris-virginica
16       Iris-setosa
117   Iris-virginica
133   Iris-virginica
66   Iris-versicolor
86   Iris-versicolor
67   Iris-versicolor
54   Iris-versicolor
83   Iris-versicolor
57   Iris-versicolor
140   Iris-virginica
143   Iris-virginica
50   Iris-versicolor
89   Iris-versicolor
147   Iris-virginica
100   Iris-virginica
23       Iris-setosa
92   Iris-versicolor
123   Iris-virginica
122   Iris-virginica

In [41]:
from sklearn.neighbors import KNeighborsClassifier

In [42]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(train_x,train_y)
print("Response for test dataset:")
y_pred = knn.predict(train_x)
print(y_pred)
test_y

Response for test dataset:
['Iris-virginica' 'Iris-setosa' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-setosa' 'Iris-versicolor' 'Iris-versicolor' 'Iris-versicolor'
 'Iris-setosa' 'Iris-virginica' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa' 'Iris-virginica'
 'Iris-setosa' 'Iris-setosa' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-setosa' 'Iris-setosa' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-setosa' 'Iris-virginica'
 'Iris-virginica' 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor'
 'Iris-setosa' 'Iris-versicolor' 'Iris-setosa' 'Iris-versicolor'
 'Iris-virginica' 'Iris-versicolor' 'Iris-versicolor' 'Iris-setosa'
 'Iris-setosa' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica' 'Iris-virginica'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-virginica' 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-versicolor' 'Iris-setosa'
 'Iris-virginica' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa' 'Iris-setosa'
 'Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa' 'Iris-setosa'
 'Iris-versicolor' 'Iris-versicolor' 'Iris-virginica' 'Iris-setosa'
 'Iris-virginica' 'Iris-setosa' 'Iris-versicolor' 'Iris-virginica'
 'Iris-setosa' 'Iris-setosa' 'Iris-virginica' 'Iris-virginica']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

             Species
64   Iris-versicolor
4        Iris-setosa
17       Iris-setosa
146   Iris-virginica
131   Iris-virginica
74   Iris-versicolor
29       Iris-setosa
99   Iris-versicolor
90   Iris-versicolor
82   Iris-versicolor
103   Iris-virginica
96   Iris-versicolor
110   Iris-virginica
120   Iris-virginica
7        Iris-setosa
116   Iris-virginica
93   Iris-versicolor
95   Iris-versicolor
45       Iris-setosa
5        Iris-setosa
141   Iris-virginica
71   Iris-versicolor
75   Iris-versicolor
72   Iris-versicolor
41       Iris-setosa
113   Iris-virginica
16       Iris-setosa
117   Iris-virginica
133   Iris-virginica
66   Iris-versicolor
86   Iris-versicolor
67   Iris-versicolor
54   Iris-versicolor
83   Iris-versicolor
57   Iris-versicolor
140   Iris-virginica
143   Iris-virginica
50   Iris-versicolor
89   Iris-versicolor
147   Iris-virginica
100   Iris-virginica
23       Iris-setosa
92   Iris-versicolor
123   Iris-virginica
122   Iris-virginica